/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
  text-align: center;
}

#main-slider .carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  right: auto;
  bottom: auto;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.carousel-inner .photo-one .carousel-caption {
  color: black;
}

.carousel-inner .photo-three .carousel-caption {
  color: black;
}

.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-img {
  object-fit: cover;
}

.contact {
  background-color: #eff2f5;
}

.contact .card {
  background-color: transparent;
}

.contact .social-media {
  list-style-type: none;
  padding: 0;
}

.contact .social-media li {
  display: inline-block;
  margin: 0 5px;
}

.contact .card-body a {
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  background: inherit;
  color: black;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
  transition: 0.5s;
  margin: 5px 0;
}

.contact .card-body a:hover {
  transform: scale(1.5);
  color: lightblue;
}

.footer {
  background-color: darkgray;
  text-align: left;
}

.products {
  background-color: #eff2f5;
}

.news {
  background-color: darkgray;
}

ol.carousel-indicators {
  position: relative;
  bottom: 0;
  margin: auto;
  width: 50px;
}

ol.carousel-indicators li {
  float: left;
  width: 33%;
  height: 10px;
  margin: 1px;
  border-radius: 0;
  border: 0;
  background: white;
  border-radius: 30%;
}

ol.carousel-indicators li.active {
  background: gray;
}

.card {
  border: none;
}

.project-form .custom-file-label {
  text-align: left;
}

.btn {
  background-color: transparent;
  border-color: gray;
}

.submit-btn {
  margin: 20px 0;
  width: 100%;
  transition: 1.5s;
}

.submit-btn:focus {
  color: green;
  border-color: green;
}

.project-form {
  position: relative;
  text-align: center;
}

.news-image-description {
  text-align: center;
  bottom: 0;
  top: auto;
}

.news-card {
  background-color: transparent;
  text-align: center;
  color: #eff2f5;
}

.projects-modals {
  text-align: left;
}

.project-button {
  border: none;
  transition: 1s;
}

.project-button:hover {
  color: lightblue;
  transform: scale(1.5);
}

.project-button:focus {
  outline: none;
}

.products .card {
  background: transparent;
}

.account-form {
  height: 100px;
}

.modal-body {
  min-height: 420px;
}

.modal .card {
  position: absolute;
  height: 100%;
  width: 100%;
}

.modal .card img {
  height: 100%;
}

.cart-container {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px;
  margin: 10px auto;
  min-width: 250px;
  max-width: 650px;
}

.cart-header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 5px solid gray;
  margin: 0 auto;
}

.cart-header-name {
  width: 40%;
}

.cart-header-price {
  width: 20%;
}

.cart-header-quantity {
  width: 20%;
}

.cart-header-total-price {
  width: 20%;
}

.products-container {
  width: 100%;
  padding: 10px 0;
  min-width: 500px;
}

.product {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product-name {
  margin: 0 5px;
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.product-name i {
  color: red;
  margin: 0 5px;
  transition: .3s ease-in-out;
}

.product-name i:hover {
  transform: scale(1.3);
}

.product-name img {
  height: 40px;
  width: 60px;
  margin: 0 10px;
}

.product-price {
  width: 20%;
}

.product-quantity {
  width: 20%;
}

.product-quantity i {
  color: blue;
  transition: .3s ease-in-out;
}

.product-quantity i:hover {
  transform: scale(1.3);
}

.product-total-price {
  width: 20%;
}

.cart-total-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */